<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../index.css">
    <title>Chat App</title>
</head>
<body>
    <h1>Welcome to my chat app</h1>
    <div class="form-field">
        <h2>Create Room</h2>
        <div class="form-body">
            <form action="/credentials" method="POST">
                <h4>Room Password</h4>
                <input type="text" name="room" id="room" placeholder="Your room password" autofocus required>
                <button type="submit" class="btn">Create</button>
                <h4 style="color: red;"><%=err%></h4>
                <a href="/enterroom">Have a room</a>
            </form>
        </div>
    </div>
</body>
</html>
