<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../index.css">
    <title>User Credentials</title>
</head>
<body>
    <h1>Welcome to my chat app</h1>
    <div class="form-field">
        <h2>Enter the details to join</h2>
        <div class="form-body">
            <form action="/room" method="GET">
                <h4>Display Name</h4>
                <input type="text" name="name" id="name" placeholder="Your name" autofocus required><br>
                <h4>Email</h4>
                <input type="email" name="email" id="email" placeholder="Your email" autofocus required><br>
                <h4>Room Password</h4>
                <input type="text" name="room" id="room" placeholder="Your room password" autofocus required>
                <button type="submit" class="btn">Join</button>
                <h4 style="color: red;"><%=err%></h4>
                <a href="/">Create Room</a>
            </form>
        </div>
    </div>
</body>
</html>
