*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgba(0,0,0,0.8)
}
h1{
    color: red;
    text-align: center;
}
h2{
    color: blue;
    text-align: center;
}
.form-field{
    background-color: white;
    margin: 10vh 25vw;
    padding: 1vw;
    width: 50vw;
}
.form-body{
    margin: 10% 10%;
    background-color: rgba(0,0,0,0.2);
    padding: 5%;
}
#name{
    display: block;
    background-color: yellow;
    text-align: center;
    height: 5vh;
    width: 100%;
}
#room{
    display: block;
    background-color: yellow;
    text-align: center;
    height: 5vh;
    width: 100%;
}
#email{
    display: block;
    background-color: yellow;
    text-align: center;
    height: 5vh;
    width: 100%;
}
h4{
    text-align: center;
    color: tomato;
}
@media only screen and (min-width:1279px){
    .btn{
        margin: 5% 37%;
        height: 4vh;
        width: 26%;
        background-color: green;
    }
    a{
        text-decoration: none; 
        margin:0% 41%;
    }
}
@media only screen and (max-width:1278px){
    .btn{
        margin: 5% 30%;
        height: 4vh;
        width: 40%;
        background-color: green;
    }
    a{
        text-decoration: none; 
        margin:0% 17.6%;
    }
}